language: cpp
sudo: required
dist: trusty
compiler:
- clang
os:
- linux
- osx

ruby: 2.2.0

before_install:
- echo $CC
- echo $CXX
- if [ "$TRAVIS_OS_NAME" == linux ]; then yes | ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/linuxbrew/go/install)"; fi
- if [ "$TRAVIS_OS_NAME" == linux ]; then export PATH="$PATH:/$HOME/.linuxbrew/bin"; fi
- if [ "$TRAVIS_OS_NAME" == linux ]; then sudo apt-get -y install "^libxcb.*" libx11-xcb-dev libglu1-mesa-dev libxrender-dev; fi
- brew update
- travis_wait 120 brew install qt5
- brew link --force qt5
- brew install qbs
- export QBS_SETTINGS_DIR=$HOME/config

before_script:
- qmake -query
- qbs-setup-toolchains --detect
- qbs-setup-qt /usr/local/opt/qt5/bin/qmake qt5
- qbs-config profiles.qt5.baseProfile $CC
- qbs-config defaultProfile qt5

script: 
- qbs install project.with_webkit:false

branches:
  only:
  - master
